In [ ]:
f=open("file.txt",r) # open함수 , close로 닫아야함. f=open('파일 이름',모드-"rt"(read), "wt"(write), a(append), "rb"(binary) etc.)
f.close()

In [ ]:
f=open('f',rt)
for line in f: #for line in f: 파일을 한 줄씩 자동으로 읽어와라.
  print(line, end="") #end 파일에서 읽은 줄 그대로 출력하되, print가 새로 줄바꿈하지마라.

In [ ]:
#with ; 열고 닫기가 자동.
with open('file.txt', 'r', newline='') as filereader:
  for line in filereader:
    print("{}".format(line.strip())) #변수.strip() #여백제거

In [ ]:
#여러 파일 읽기 : os, glob module.
#glob.glob(os.path.join("*.txt") 현재 폴터에 있는 모든 .txt파일을 찾아서 리스트로 반환. 이후 for file in : glob이 반환한 파일 이름 리스트를 하나씩 file 변숭 저장.
#os module txt로끝나는 모든 파일 경로를 찾음. 이후 join으로 합침/확장자를 합침 os;파일 관리자.
import os
import glob

for file in glob.glob(os.path.join("*.txt")):
  with open(file, 'r', newline='', endcoding="UTF8") as filereader:
    for row in filereader:
      print("{}".format(row.strip()))

#glob은 하나씩 열어서 조사. glob ; 파일 검색기
#UTF8 encoding 방식

strip();좌우/lstrip;/rstrip 각각 왼쪽/오른쪽 공백&지정문자 제거 + 가운데 공백은 안없어짐

In [ ]:
a="......가나다라마바사......."
print(a.strip("."))
print(a.lstrip("."))
print(a.rstrip("."))
b="     가나다라    "
print(b.strip())

가나다라마바사
가나다라마바사.......
......가나다라마바사
가나다라

In [ ]:
numbers="1,2,3,4,5"
print(numbers.split(","))

['1', '2', '3', '4', '5']

In [ ]:
csv읽기
pd.read_csv('file_name')
pd.to_csv
#엑셀을 csv 대신 excel넣으면 됨.

In [ ]:
import pandas as pd
t_df=pd.read_csv("https://raw.githubusercontent.com/sehakflower/data/main/titanic.csv") #csv를 dataframe으로 저장.
t_df

                        PassengerId\tSurvived\tPclass\tName\tSex\tAge\tSibSp\tParch\tTicket\tFare\tCabin\tEmbarked
1\t0\t3\tBraund           Mr. Owen Harris\tmale\t22\t1\t0\tA/5 21171\t7...
2\t1\t1\tCumings          Mrs. John Bradley (Florence Briggs Thayer)\tf...
3\t1\t3\tHeikkinen        Miss. Laina\tfemale\t26\t0\t0\tSTON/O2. 31012...
4\t1\t1\tFutrelle         Mrs. Jacques Heath (Lily May Peel)\tfemale\t3...
5\t0\t3\tAllen            Mr. William Henry\tmale\t35\t0\t0\t373450\t8....
...                                                                    ...
152\t1\t1\tPears          Mrs. Thomas (Edith Wearne)\tfemale\t22\t1\t0\...
153\t0\t3\tMeo            Mr. Alfonzo\tmale\t55.5\t0\t0\tA.5. 11206\t8....
154\t0\t3\tvan Billiard   Mr. Austin Blyler\tmale\t40.5\t0\t2\tA/5. 851...
155\t0\t3\tOlsen          Mr. Ole Martin\tmale\t\t0\t0\tFa 265302\t7.31...
156\t0\t1\tWilliams       Mr. Charles Duane\tmale\t51\t0\t1\tPC 17597\t...

[156 rows x 1 columns]

In [ ]:
import pandas as pd
u="https://raw.githubusercontent.com/sehakflower/data/main/titanic.csv"
t_df=pd.read_csv(u, sep="\t") #sep("\t")로 열을 구분하는 문자 지정.
t_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [ ]:
t_df.head() #초기 5행

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
t_df.tail() #끝에서 다섯개.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [ ]:
len(t_df) #data 수
t_df.shape #행 열

(156, 12)

In [ ]:
t_df.describe() #각 열 개수, 평균, 표준편사(std), 최솟값(min), 최댓값(max) 전체 값의 분포를 확인.

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,156.000000,156.000000,156.000000,126.000000,156.000000,156.000000,156.000000
mean,78.500000,0.346154,2.423077,28.141508,0.615385,0.397436,28.109587
std,45.177428,0.477275,0.795459,14.613880,1.056235,0.870146,39.401047
min,1.000000,0.000000,1.000000,0.830000,0.000000,0.000000,6.750000
25%,39.750000,0.000000,2.000000,19.000000,0.000000,0.000000,8.003150
50%,78.500000,0.000000,3.000000,26.000000,0.000000,0.000000,14.454200
75%,117.250000,1.000000,3.000000,35.000000,1.000000,0.000000,30.371850
max,156.000000,1.000000,3.000000,71.000000,5.000000,5.000000,263.000000

In [ ]:
t_df.info() #각 열의 결측치 여부와 데이터형을 출력.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  156 non-null    int64
 1   Survived     156 non-null    int64
 2   Pclass       156 non-null    int64
 3   Name         156 non-null    object
 4   Sex          156 non-null    object
 5   Age          126 non-null    float64
 6   SibSp        156 non-null    int64
 7   Parch        156 non-null    int64
 8   Ticket       156 non-null    object
 9   Fare         156 non-null    float64
 10  Cabin        31 non-null     object
 11  Embarked     155 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 14.8+ KB

In [ ]:
t_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
new_columns=['passangerid','survived','pclass','name','sex','age','sibsp','parch','ticket','fare','cabin','embarked']
t_df.columns=new_columns
t_df.columns
#columns 속성으로 열 이름 한꺼번에 변경하기 ; 열 개수가 정확하게 일치해야 함.

Index(['passangerid', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'cabin', 'embarked'],
      dtype='object')

In [ ]:
c_df=t_df.copy()
c_df.head()

,passangerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
new_row={'passangeid':1,"survived":1,'pclass':1,'name':1,'sex':1,'age':1,'sibsp':1,'parch':1,'ticket':1,'fare':1,'cabin':1,'embarked':1}
nr_df=pd.concat([c_df,pd.DataFrame([new_row])],ignore_index=True)  #새로운 행추가, 행추가 반영하려면 변수에 저장해야됨
nr_df.tail()

,passangerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,passangeid
152,153.0,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S,NaN
153,154.0,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S,NaN
154,155.0,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,NaN
155,156.0,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C,NaN
156,NaN,1,1,1,1,1.0,1,1,1,1.0000,1,1,1.0

In [ ]:
nr_df["gender"]=1 # gender라는 새로운 열의 모든값 1로 지정.
nr_df.loc[nr_df["sex"]=='female','gender']=0 #'sex'열의 데이터가 =='female'인 행만 찾아 gender를 0으로 변환
nr_df.head()

,passangerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,passangeid,gender
0,1.0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,1
1,2.0,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,NaN,0
2,3.0,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,0
3,4.0,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,NaN,0
4,5.0,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,1

In [ ]:
nr_df.index#행에 관하여 start stop step.

RangeIndex(start=0, stop=157, step=1)

In [ ]:
nr_df.values#인덱스를 제외한 값만 보여줌.

array([[1.0, 0, 3, ..., 'S', nan, 1],
       [2.0, 1, 1, ..., 'C', nan, 0],
       [3.0, 1, 3, ..., 'S', nan, 0],
       ...,
       [155.0, 0, 3, ..., 'S', nan, 1],
       [156.0, 0, 1, ..., 'C', nan, 1],
       [nan, 1, 1, ..., 1, 1.0, 1]], dtype=object)

In [ ]:
age=nr_df['age'] #데이터프레임에서 특정 열만 추출해 분리.
print(type(age))
age

<class 'pandas.core.series.Series'>

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
152    55.5
153    40.5
154     NaN
155    51.0
156     1.0
Name: age, Length: 157, dtype: float64

In [ ]:
nr_df.sort_index(ascending=False) #인덱스 기준으로 정렬.

,passangerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,passangeid,gender
156,NaN,1,1,1,1,1.0,1,1,1,1.0000,1,1,1.0,1
155,156.0,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C,NaN,1
154,155.0,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,NaN,1
153,154.0,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S,NaN,1
152,153.0,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,5.0,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,1
3,4.0,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,NaN,0
2,3.0,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,0
1,2.0,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,NaN,0
0,1.0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,1

In [ ]:
nr_df.sort_values(by='age')# age열을 뽑아서 오름차순, 내림차순 정렬 #오름차순 True/내림차순 False Series로 만듬.

,passangerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,passangeid,gender
78,79.0,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,NaN,1
156,NaN,1,1,1,1,1.00,1,1,1,1.0000,1,1,1.0,1
16,17.0,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,NaN,1
7,8.0,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,NaN,1
119,120.0,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,122.0,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S,NaN,1
126,127.0,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q,NaN,1
128,129.0,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C,NaN,0
140,141.0,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C,NaN,0
154,155.0,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,NaN,1

In [ ]:
nr_df.sort_values(by=['age','pclass']) #age가 첫 번째 정렬기준, pclass는 두번째 정렬기준. #age가 동일할경우 pclass를 통해 또 분류.

,passangerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,passangeid,gender
78,79.0,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,NaN,1
156,NaN,1,1,1,1,1.00,1,1,1,1.0000,1,1,1.0,1
7,8.0,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,NaN,1
16,17.0,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,NaN,1
119,120.0,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,122.0,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S,NaN,1
126,127.0,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q,NaN,1
128,129.0,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C,NaN,0
140,141.0,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C,NaN,0
154,155.0,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,NaN,1

In [ ]:
nr_df[1:5] #1에서 4까지 출력.

,passangerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,passangeid,gender
1,2.0,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,NaN,0
2,3.0,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,0
3,4.0,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,NaN,0
4,5.0,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,1

In [ ]:
nr_df[0:21:3] #3개식 단위로

,passangerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,passangeid,gender
0,1.0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,1
3,4.0,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,NaN,0
6,7.0,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,NaN,1
9,10.0,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,NaN,0
12,13.0,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,NaN,1
15,16.0,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,NaN,0
18,19.0,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,NaN,0

In [ ]:
nr_df[::-1] #행 순서를 거꾸로 변경.

,passangerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,passangeid,gender
156,NaN,1,1,1,1,1.0,1,1,1,1.0000,1,1,1.0,1
155,156.0,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C,NaN,1
154,155.0,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,NaN,1
153,154.0,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S,NaN,1
152,153.0,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,5.0,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,1
3,4.0,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,NaN,0
2,3.0,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,0
1,2.0,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,NaN,0
0,1.0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,1

In [ ]:
len(nr_df.columns)#; df의 열 개수 확인.

14

In [ ]:
nr_df['age'] #열 출력됨. age 변수에 저장하면 Series. 이렇게 df['열이름'] 출력하면 특정 column의 데이터를 Series로 표시.

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
152    55.5
153    40.5
154     NaN
155    51.0
156     1.0
Name: age, Length: 157, dtype: float64

In [ ]:
print(nr_df[nr_df.columns[0]][0]) #첫 번째 열의 첫 번째 값.
print(nr_df['age'][0]) #age열의 첫번째 값.
print(nr_df[nr_df.columns[-1]][0]) #마지막 열의 첫 번째 값.

1.0
22.0
1

In [ ]:
nr_df[nr_df.columns[0]][2:6] #2-5행까지
nr_df[nr_df.columns[0]][:-1] #마지막행 제외
nr_df[nr_df.columns[0]][-1:] #마지막행만
nr_df[nr_df.columns[0]][::-1] #역순출력

156      NaN
155    156.0
154    155.0
153    154.0
152    153.0
       ...
4        5.0
3        4.0
2        3.0
1        2.0
0        1.0
Name: passangerid, Length: 157, dtype: float64

In [ ]:
nr_df[['pclass','name','sex']]

     pclass                                               name     sex
0         3                            Braund, Mr. Owen Harris    male
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2         3                             Heikkinen, Miss. Laina  female
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4         3                           Allen, Mr. William Henry    male
..      ...                                                ...     ...
152       3                                   Meo, Mr. Alfonzo    male
153       3                    van Billiard, Mr. Austin Blyler    male
154       3                              Olsen, Mr. Ole Martin    male
155       1                        Williams, Mr. Charles Duane    male
156       1                                                  1       1

[157 rows x 3 columns]

In [ ]:
nr_df[[nr_df.columns[2],nr_df.columns[3],nr_df.columns[4]]][2:15:3]

    pclass                                               name     sex
2        3                             Heikkinen, Miss. Laina  female
5        3                                   Moran, Mr. James    male
8        3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female
11       1                           Bonnell, Miss. Elizabeth  female
14       3               Vestrom, Miss. Hulda Amanda Adolfina  female

In [ ]:
nr_df.loc[0] #index를 기준으로 원하는 행을 추출 , df.loc[start_index:stop_index:증가값]

passangerid                        1.0
survived                             0
pclass                               3
name           Braund, Mr. Owen Harris
sex                               male
age                               22.0
sibsp                                1
parch                                0
ticket                       A/5 21171
fare                              7.25
cabin                              NaN
embarked                             S
passangeid                         NaN
gender                               1
Name: 0, dtype: object

In [ ]:
nr_df.loc[0:10:2] #loc은 종료 인덱스 까지 감.

,passangerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,passangeid,gender
0,1.0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,1
2,3.0,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,0
4,5.0,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,1
6,7.0,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,NaN,1
8,9.0,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,NaN,0
10,11.0,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,NaN,0

In [ ]:
nr_df.loc[:,"age"] #0번부터 마지막 인덱스까지 age의 모든 행 추출.

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
152    55.5
153    40.5
154     NaN
155    51.0
156     1.0
Name: age, Length: 157, dtype: float64

In [ ]:
nr_df.loc[3:7,["age",'sex']]

    age     sex
3  35.0  female
4  35.0    male
5   NaN    male
6  54.0    male
7   2.0    male

In [ ]:
nr_df.loc[3:7,"survived":'age'] #survived열부터 age열까지

,survived,pclass,name,sex,age
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0
4,0,3,"Allen, Mr. William Henry",male,35.0
5,0,3,"Moran, Mr. James",male,NaN
6,0,1,"McCarthy, Mr. Timothy J",male,54.0
7,0,3,"Palsson, Master. Gosta Leonard",male,2.0

In [ ]:
nr_df.iloc[0] #인덱스 순서 기준으로 원하는 만큼 행데이터를 추출.

passangerid                        1.0
survived                             0
pclass                               3
name           Braund, Mr. Owen Harris
sex                               male
age                               22.0
sibsp                                1
parch                                0
ticket                       A/5 21171
fare                              7.25
cabin                              NaN
embarked                             S
passangeid                         NaN
gender                               1
Name: 0, dtype: object

In [ ]:
nr_df.iloc[0:5] #iloc은 stop-1까지

,passangerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,passangeid,gender
0,1.0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,1
1,2.0,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,NaN,0
2,3.0,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,0
3,4.0,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,NaN,0
4,5.0,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,1

In [ ]:
nr_df.iloc[0:10:3]

,passangerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,passangeid,gender
0,1.0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,1
3,4.0,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,NaN,0
6,7.0,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,NaN,1
9,10.0,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,NaN,0

In [ ]:
nr_df.iloc[1:5,1:4] #1:5(-1)행까지 / 1:4(-1)열까지

   survived  pclass                                               name
1         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         1       3                             Heikkinen, Miss. Laina
3         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         0       3                           Allen, Mr. William Henry

In [ ]:
# pivot_table ;기존 표데이터로 새롭게 표 생성 /행, 열 값을 뭘로할지 지정가능. aggfunc ; sum,mean etc/pivot_table의 기본 aggfunc : mean
t_df.pivot_table(index="pclass",columns='sex',values='survived')

sex       female      male
pclass
1       1.000000  0.142857
2       0.916667  0.166667
3       0.571429  0.131148

In [ ]:
t_df.pivot_table(index="pclass",columns='sex',values='survived',aggfunc='mean')

sex       female      male
pclass
1       1.000000  0.142857
2       0.916667  0.166667
3       0.571429  0.131148

In [ ]:
t_df.pivot_table(index="pclass",columns='sex',values='survived',aggfunc='sum')

sex     female  male
pclass
1            9     3
2           11     3
3           20     8

In [ ]:
t_df.groupby('survived').mean(numeric_only=True)

          passangerid    pclass        age     sibsp     parch       fare
survived
0           84.823529  2.490196  29.358824  0.666667  0.372549  27.271076
1           66.555556  2.296296  25.617805  0.518519  0.444444  29.693441

In [ ]:
groupby 데이터프레임의 특정 열을 기준으로 묶어서 표시 groupby().count()/sum, mean도 가능 ;mean() 괄호에 아무것ㅅ도 안넣으면 오류듬
mean-숫자형에만 사용가능 그래서 mean(numeric_only=True) 이거 해줘야됨 즉 기본값은 numeric_only=False로 돼있음.

In [ ]:
t_df.groupby('survived').sum(numeric_only=True)

          passangerid  pclass      age  sibsp  parch       fare
survived
0                8652     254  2495.50     68     38  2781.6498
1                3594     124  1050.33     28     24  1603.4458

In [ ]:
t_df.groupby('sex')['survived'].mean(numeric_only=True) #survived만 출력해조pi

sex
female    0.714286
male      0.140000
Name: survived, dtype: float64

In [ ]:
t_df.groupby(['sex','survived']).mean(numeric_only=True) #두개 이상의 열로 행 인덱스를 사용.

                 passangerid    pclass        age     sibsp     parch  \
sex    survived
female 0           80.437500  2.937500  20.633333  1.437500  0.562500
       1           63.200000  2.275000  26.265625  0.650000  0.500000
male   0           85.639535  2.406977  31.228571  0.523256  0.337209
       1           76.142857  2.357143  23.314444  0.142857  0.285714

                      fare
sex    survived
female 0         18.883331
       1         32.291563
male   0         28.831587
       1         22.270236